{% extends "base.html" %}
{% block title %}My Portfolios{% endblock %}
{% block content %}
<h1>My portfolios</h1>
<div class="module">
    {% for port in object_list %}
    <div class="course-info">
        <h3>{{ port.title }}</h3>
        <p>
            <a href="{% url 'port_edit' port.id %}">Edit</a>
            <a href="{% url 'port_delete' port.id %}">Delete</a>
            <a href="{% url 'port_edit' port.id %}">Edit Portfolio</a>

            <!-- {% if course.modules.count > 0 %} -->
            <!-- <a href="{% url 'module_content_list' course.modules.first.id %}">
                Manage contents
            </a> -->
            <!-- {% endif %} -->
        </p>
    </div>
    {% empty %}
    <p>You haven't created any portfolio yet.</p>
    {% endfor %}
    <p>
        <a href="{% url 'port_create' portfolio.course.id %}" class="button">Create new Portfolio</a>
    </p>
</div>
{% endblock %}