body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
}

a {
    color: #3fad37;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.error-messages {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.error-messages ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}